
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@100;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&family=Pacifico&family=Roboto+Slab:wght@100;300;700&display=swap');

:root{
    --navcolor:#454545;
    --clrafterhover:#7a7878;
    --color-bgcolor:#0099e8;
    --colorwht:#ffffff;
    --btnclor:#000000;
    --filtercolor:rgb(100, 97, 100);
    --font:'Open Sans', sans-serif; 
}

p{
    font-family: var(--font);
}
body{
    padding-top: 70px;
}
 /* NAVBAR */
nav{
    height: 70px;
    background: rgba(255,255,255,1);
    box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.06) !important;
}
.logo a{
    color: var(--navcolor);
    font-weight: 700;
    font-size: 12px;  
}

.nav-link{
    color: var(--navcolor);
    font-weight: 700;
    font-size: 12px;  
    text-decoration: none;
    position: relative;
  }
    
.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--clrafterhover);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
.nav-link:hover::after,
.nav-link:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
  
  /* SLİDE İN */
.nav-link{
    overflow: hidden;
}
  
.nav-link::after {
    transform: translate3d(-100%, 0, 0);
}   
.nav-link:hover::after,
.nav-link:focus::after{
    transform: translate3d(0, 0, 0);
  }
.nav-link:hover{
    color: var(--clrafterhover);
}
/* HAMBURGER-MENU*/
.hamburger-menu .nav-link:hover{
    color: var(--colorwht);
}
.hamburger-menu .nav-link{
    color: var(--colorwht);
    font-weight: 700;
    font-size: 12px;  
    text-decoration: none;
    position: relative;
  }
.hamburger-menu .btn:focus{
    box-shadow: none;
}
/* HOME */
.home{
    background-image: url("img/anasayfa/anasayfafoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center; 
	height: 700px;
}
.home-contents{
    padding-top: 250px;
}
.home a{
    background-color: var(--color-bgcolor); 
    color: var(--colorwht);  
}
.home a:hover{
    background-color: var(--colorwht);
    color: var(--color-bgcolor);
    transition: all 0.3s;
    
}
.home h1{
    color: var(--color-bgcolor);
    font-weight: 500;
    text-shadow: 0px 0px 10px var(--colorwht);
    font-family: 'Pacifico', serif;
}
.home i{
    font-size: 14px;
}

/* MİDDLE */
.middle a{
    background-color: var(--color-bgcolor);   
}
.middle a:hover{
    background-color: var(--btnclor);
    transition: all 0.3s;
}
.middle p{
    text-align: justify;
}
.middle h4{
    color: var(--color-bgcolor);
}
/* MİDDLE-BLUE*/
.middle-blue{
    background-color: var(--color-bgcolor);
    height: 140px;
}
.middle-blue a{
    background-color: var(--colorwht);
    color: var(--color-bgcolor);
}
.middle-blue a:hover{
    background-color: var(--btnclor);
    color: var(--colorwht);
}
/* SLİDE */
.slide{
    height: 670px;
    width: 1000px;
}
.slide h3{
    color: var(--color-bgcolor);
    font-family: 'Pacifico', serif;
}
.slide p{
    text-align: justify;
}
.slide-bottom{
    height: 200px;
}
.slide-a{   
    border: 1px solid rgb(225,225,225);   
    border-radius: 25px 25px 0 25px;
    background-color: rgb(252,252,252);
}
.slide-a a{
    color: var(--btnclor);
}
.slide-a li:hover{
    background-color: var(--color-bgcolor);
    color: var(--colorwht);
    border-radius: 25px 25px 0 25px;
    filter: drop-shadow(0 2mm 2mm rgb(100, 97, 100));
}
.slide-a a:hover{
    color: var(--colorwht);
}
/* FOOTER */
footer{    
    background-color: #007dbd ;
}
.footer-bottom{   
    background-color: #01608f;
    font-size: 10px;
}
/* HAKKIMDA */
.section-top{
    background-image: url("img/header-bg.jpg");    
    height: 149px;
    background-position: center center; 
    background-repeat: no-repeat;
    
}
.section-top h2{
    color: var(--colorwht);   
    font-family: 'Pacifico', serif;
}
.section-top ul{
    font-size: 13px;
}
.section-middle img{
    width: 100%;
    height: auto;
    border-radius: 55px;
}
.section-middle h4{
    color: var(--color-bgcolor);
}
.section-middle p{
    text-align: justify;
}
/* ALANLAR&UYGULAMALAR */
.alanlar h5{
    color: var(--color-bgcolor);    
}
.alanlar img{
    width: 32px;
    height: 32px;
}
.alanlar .card-body{
    padding: 10px;
}
/* EĞİTİM */
.eğitim p{
    font-weight: 600;
}
/* RANDEVU */
.randevu p{
    font-size: 14px;
}
.randevu a{   
    font-weight: 500; 
}
.randevu input {
    font-size: 14px;
}
.randevu .btn{
    background-color: var(--color-bgcolor);
    font-weight: 700;
    width: 180px;
    height: 47px;
    font-size: 16px;
}
.form-control:focus{
    box-shadow: none;
}
/* EĞİTİM2 */
.eğitim2 h5{
    color: var(--color-bgcolor);
}
.eğitim2 h3{
    color: var(--color-bgcolor);
    font-weight: 500;
    text-shadow: 0px 0px 10px var(--colorwht);
    font-family: 'Pacifico', serif;
}
.eğitim2 p{
    line-height: 5px;
}
.line-titles {
    position: relative;    
    text-align:center;
    display:block;
    width:100%;
}
.line-titles:before {
    position:absolute;
    top:50%;
    z-index:1;
    display:block;
    width:100%;
    height:1px;
    border-top:1px solid #ddd;
    content:""
}
.line-titles span {
    position:relative;
    z-index:1;
    padding:0 20px;
    background:var(--colorwht);
    display:inline-block
}
.eğitim2 img {
    transition: transform .4s;
    width: 380px;
    height: 280px;
    margin: 10px;
    border-radius: 5px;
}  
.eğitim2 img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
/* İLETİŞİM */
.iletişim {
    background-color: #f8f8f8;
}
.map-contact  i{
    color: var(--color-bgcolor);
}
.map-contact h3{
    font-size: 22px;
}
/* BLOG */
.blog{
    background-color: #fcfcfc;
}
.blog img{
    border-radius: 4px;
}
.blog .card{
    border: none;
}
.blog .card:hover{
    transition: 0.7s;
    filter: drop-shadow(0 3mm 4mm rgb(100, 97, 100)); 
}
.blog a{
    text-decoration: none;
    color: var(--btnclor);
}
/* BLOG-SUBPAGE */
.blog-subpage img{
    width: 90%;
    height: 400px;
}
.blog-subpage .text-area p{
    text-align: justify;
}
.blog-subpage h3{
    color: var(--color-bgcolor);
    font-weight: 500;
    text-shadow: 0px 0px 10px var(--colorwht);
    font-family: 'Pacifico', serif;
}
.subpage-body a{
    width: 20%;    
}
.subpage-body a:hover{
    filter: drop-shadow(0 2mm 2mm rgb(100, 97, 100));
    transform: translateY(-3px);
}
/* SİDEBAR */
.side-bar h4{
    color: var(--color-bgcolor);
    margin-left: 15px;
}
.side-bar a{
    text-decoration: none;
    color: var(--btnclor);
    font-size: 12px;
}
.side-bar a:hover{
    background-color: #e8e3e3;
}
.side-bar img{
    width: 90px;
    height: 50px;
    border: 1px solid rgb(221,221,221);
    border-radius: 5px;
    margin-right: 15px;
    margin-left: 15px;
}
.back-top{
    width: 45px;
    height: 45px;
    opacity: .3;  
    position: fixed;
    cursor: pointer;
    right: 20px;
    bottom: 15px;
    border-radius: 7px;
    border: 1px solid #ddd;
    text-align: center;
    background: var(--colorwht);
    transition: transform 0.8s cubic-bezier(0.77, 0, 0.2, 1) !important;
    transform: translateZ(0);
}












  
 
 

